In [1]:
import pandas as pd
import numpy as np
import seaborn as se
from sklearn.svm import SVR
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.linear_model import BayesianRidge, LinearRegression
from sklearn.model_selection import KFold, cross_val_score

%matplotlib inline

/anaconda/envs/py35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda/envs/py35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda/envs/py35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [10]:
data = pd.read_csv('../../AmirSaman/Final/clean/WELL1COMPOSITE.csv')
data.head()

,Unnamed: 0,DEPTH,CALI,DENB,DRHO,DTCOMP,GR,NEUT,RDEEP,RMICRO
0,0,314.7060,-999.2500,-999.25,-999.25,-999.25,-999.25,-999.25,2000.00,-999.25
1,1,316.3824,19.0412,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,2,316.8396,19.0265,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
3,3,317.1444,18.9972,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
4,4,317.4492,18.9826,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7401 entries, 0 to 7400
Data columns (total 10 columns):
Unnamed: 0    7401 non-null int64
DEPTH         7401 non-null float64
CALI          7401 non-null float64
DENB          7401 non-null float64
DRHO          7401 non-null float64
DTCOMP        7401 non-null float64
GR            7401 non-null float64
NEUT          7401 non-null float64
RDEEP         7401 non-null float64
RMICRO        7401 non-null float64
dtypes: float64(9), int64(1)
memory usage: 578.3 KB

In [12]:
data = data[1:]

data.head()

,Unnamed: 0,DEPTH,CALI,DENB,DRHO,DTCOMP,GR,NEUT,RDEEP,RMICRO
1,1,316.3824,19.0412,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
2,2,316.8396,19.0265,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
3,3,317.1444,18.9972,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
4,4,317.4492,18.9826,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
5,5,318.0588,18.9240,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [13]:
x = data[['DEPTH', 'CALI', 'DENB', 'DRHO','DTCOMP', 'GR','RDEEP', 'RMICRO']]
y = data['NEUT']

In [14]:
# Creating the folds - not really used in our example
k_fold = KFold(n_splits=5)
for train_indices, test_indices in k_fold.split(x):
     print('Train: %s | test: %s' % (train_indices, test_indices))

Train: [1480 1481 1482 ... 7397 7398 7399] | test: [   0    1    2 ... 1477 1478 1479]
Train: [   0    1    2 ... 7397 7398 7399] | test: [1480 1481 1482 ... 2957 2958 2959]
Train: [   0    1    2 ... 7397 7398 7399] | test: [2960 2961 2962 ... 4437 4438 4439]
Train: [   0    1    2 ... 7397 7398 7399] | test: [4440 4441 4442 ... 5917 5918 5919]
Train: [   0    1    2 ... 5917 5918 5919] | test: [5920 5921 5922 ... 7397 7398 7399]

# Benchmarking our regressors

In [ ]:
names = ["Support Victor Regressor", "Bayesian Ridge Regressor", "Linear Regressor"]

classifiers = [
    SVR(kernel='linear', C=1e3),
    BayesianRidge(compute_score=True),
    LinearRegression()]

k_fold = 2

# Benchmarking
for model, name in zip(classifiers, names):
    print(name, cross_val_score(model, x, y, cv=k_fold, n_jobs=7))